html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	width: 100%;

}

ul{
	text-align: center;
}

li{
	display: inline-block;
}

@font-face {
    font-family: body-weight;
    src: url(assets/fonts/Brandon_light.otf);
}

@font-face {
    font-family: title-weight;
    src: url(assets/fonts/Brandon_bld.otf);
}

@font-face {
    font-family: girth-weight;
    src: url(assets/fonts/Brandon_blk.otf);
}

@font-face {
    font-family: reg-weight;
    src: url(assets/fonts/Brandon_reg.otf);
}


.title-weight{
	font-family: title-weight;
}

.body-weight{
	font-family: body-weight;
}

.girth-weight{
	font-family: girth-weight;
}

.title-size{
	font-size: 26px;
}

.body-size{
	font-size: 20px;
}

.grey {
	color: #414141;
}

.light-grey{
	color: #A9A9A9;
}

/* --------------- Home -------------- */

.corner-red{
	width: 32vw;
	position: fixed;
	top: 0;
	left: 0;
}

.corner-green{
	width: 32vw;
	position: fixed;
	bottom: 0;
	left: 0;
}

.corner-yellow{
	width: 32vw;
	position: fixed;
	bottom: 0;
	right: 0;
}

.section-1{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.logo-m{
	display: flex;
	justify-content: center;
	height: 90px;
	margin-top: 30vh;
}

.logo-d{
	display: none;
	height: 50px;
	margin-top: 30vh;
}

.logo-mobile{
	height: 90px;
}

.logo-desktop{
	height: 50px;
}

.tagline{
	width: 100%;
	text-align: center;
	margin-top: 5vh;
}

@media (min-width: 750px) {
	.corner-red{
		height:28vh;
		width: auto;
	}

	.corner-green{
		height:28vh;
		width: auto;
	}

	.corner-yellow{
		height:32vh;
		width: auto;
	}

	.logo-m{
		display: none;
	}

	.logo-d{
		display: flex;
		justify-content: center;
	}
}

/* --------------- fucking nav bar -------------- */

.navbar{
	width: 100%;
	height: 44px;
	text-align: center;
	position: absolute;
	bottom: 10vh;
}

.navitem{
	margin: 0px 10px;
	padding: 10px;
	color: #A9A9A9;
	-webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;
}

.about{
	color: #A9A9A9;
	display: block;
}

.work{
	color: #A9A9A9;
	display: block;
}

.contact{
	color: #A9A9A9;
	display: block;
}

.aboutbar{
	width: 50px;
	opacity: 0;
}

.workbar{
	width: 50px;
	opacity: 0;
}

.contactbar{
	width: 50px;
	opacity: 0;
}

.about:hover{
	color: #414141;
}

.work:hover{
	color: #414141;
}

.contact:hover{
	color: #414141;
}

@media (min-width: 750px) {
	.navitem{
		margin: 0 20px;
	}
	.navbar{
		bottom: 15vh;
	}
}
