html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	width: 100%;

}

ul{
	text-align: center;
}

li{
	display: inline-block;
}

@font-face {
    font-family: reg-weight;
    src: url(../fonts/Brandon_light.otf);
}

@font-face {
    font-family: title-weight;
    src: url(../fonts/Brandon_bld.otf);
}

@font-face {
    font-family: girth-weight;
    src: url(../fonts/Brandon_blk.otf);
}

@font-face {
    font-family: body-weight;
    src: url(../fonts/Brandon_reg.otf);
}


.title-weight{
	font-family: title-weight;
}

.body-weight{
	font-family: body-weight;
}

.girth-weight{
	font-family: girth-weight;
}

.title-size{
	font-size: 26px;
}

.body-size{
	font-size: 20px;
}

.grey {
	color: #414141;
}

.light-grey{
	color: #A9A9A9;
}

.blue {
	color: #0065FF;
}

/* --------------- Home -------------- */

.corner-red{
	width: 25vw;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}

.corner-green{
	width: 25vw;
	position: fixed;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.corner-yellow{
	width: 25vw;
	position: fixed;
	bottom: 0;
	right: 0;
	pointer-events: none;
}

.section-1{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	padding: 16vh 8vw;
}

@media (min-width: 750px) and (-webkit-min-device-pixel-ratio: 2){
	.corner-red{
		height:25vh;
		width: auto;
	}

	.corner-green{
		height:25vh;
		width: auto;
	}

	.corner-yellow{
		height:29vh;
		width: auto;
	}

	.section-1{
		padding: 16vh 15vw;
	}

}

/* --------------- fucking nav bar -------------- */

.navbar{
	width: 100%;
	height: 44px;
	text-align: center;
	position: fixed;
	bottom: 7vh;
}

.navitem{
	padding: 10px;
	color: #A9A9A9;
	-webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;
	margin: 0 3vw;
}

.about, .work, .contact{
	color: #A9A9A9;
	display: block;
}


.about:hover, .work:hover, .contact:hover{
	color: #414141;
}


.aboutbar, .workbar, .contactbar{
	width: 50px;
	opacity: 0;
	-webkit-transition: opacity 0.2s; /* Safari */
	transition: opacity 0.2s;
}

.about:hover + .aboutbar, .work:hover + .workbar, .contact:hover + .contactbar{
	opacity: 1;
}

.aboutbarcurrent, .workbarcurrent, .contactbarcurrent{
	width: 50px;

}

@media (min-width: 750px) {
	.navitem {
		margin: 0 20px;
	}
	.navbar{
		bottom: 7vh;
	}
}
