@import url("global.css");

.logo-i{
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 2vh;
	right: 4vw;
}

.logo-icon{
	height: 26px;
}

@media (min-width: 750px) {
	.logo-i{
		top: 5vh;
		right: 3vw;
	}

	.logo-icon{
		height: 30px;
	}
}

/* --------------- work -------------- */

.lineheightfix{
	line-height: 0;
	display: block;
}

.project-thumbnail{
	width: 100%;
	height: auto;
}

.thumbnailcover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	line-height: normal;
	opacity: 1;
	justify-content: center;
	align-items: center;
	-webkit-transition: opacity 0.2s ease-in-out; /* Safari */
	-moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
	display: flex;
}

#work-item{
	margin: 20px 0px;
}

@media (min-width: 750px) {
	.project-thumbnail{
		width: 20vw;
	}

	.thumbnailcover{
		opacity: 0;
	}

	.thumbnailcover:hover{
		opacity: 1;
	}

	#work-item{
		margin: 0px;
	}
}



/* --------------- modal general -------------- */

.close {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 30px;
	height: auto;
	z-index: 4;
	line-height: 0;
}

.close-icon{
	width: 100%;
	-webkit-transition: transform 200ms ease-in-out;
	-moz-transition: transform 200ms ease-in-out;
	transition: transform 200ms ease-in-out;
}

.close-icon:hover {
	transform: rotate(180deg);
}

@media (min-width: 750px) {
	.close {
	  right: 40px;
	  top: 40px;
	  width: 40px;
	}

}

/* --------------- projects-------------- */

#project1, #project2, #project3 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
	width: 100%;
  z-index: 2;
  pointer-events: none;
	padding: 10vh 0;
	display: none;
	justify-content: center;

	opacity: 0;
	-webkit-transition: opacity 400ms ease-in-out;
	-moz-transition: opacity 400ms ease-in-out;
	transition: opacity 400ms ease-in-out;
}

#project1:target, #project2:target, #project3:target {
	display: flex;
	pointer-events: auto;
	opacity: 1;
}

.cliqshowcase, .critiqshowcase, .gravityshowcase {
  width: 90%;
	height: 100%;
	z-index: 3
}

.modalbackground{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}


@media (min-width: 750px) {
	.cliqshowcase, .critiqshowcase, .gravityshowcase {
	  width: 80%;
		height: 80%;

}


/* --------------- original modal code -------------- */

/*.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99998;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
		display: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    font-weight: bold;
}
.close:hover {
    background: #00d9ff;
}*/
